* {
  color: #1a237e;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #ffcc80;
  overflow-y: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}


// span:nth-child(2) {
//   width: 20px;
//   margin-left: 30px;
//   position: relative;
//   top: 12%;
// }

// path.one {
//   transition: 0.4s;
//   transform: translateX(-60%);
// }

// path.two {
//   transition: 0.5s;
//   transform: translateX(-30%);
// }

// .top-left-container {
//   display: flex;
//   flex-direction: column;
//   width: 33.33vw;
//   align-items: start;
//   padding: 6px 0px 0px 6px;
//   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
//   -moz-box-sizing: border-box; /* Firefox, other Gecko */
//   box-sizing: border-box; /* Opera/IE 8+ */
// }

// .top-center-container {
//   text-align: center;
//   width: 33.33vw;
// }

// .top-right-container {
//   width: 33.33vw;
// }
