.welcome-page {
  height: calc(100vh - 100px); // 100px is header-height

  box-sizing: border-box;
  text-align: center;
  flex-wrap: wrap;
}
.welcome-page div {
  padding: 2em;
  &:hover {
    color: #e65100;
    cursor: pointer;
  }
}
.welcome-page .disabled {
  color: grey;
  &:hover {
    cursor: default;
    color: inherit;
    color: grey;
    pointer-events: none;
  }
}
