.welcome-page {
  height: calc(100vh - 100px);
  height: calc((var(--vh, 1vh) * 100) - 100px);

  box-sizing: border-box;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 70px;
}
.welcome-page div {
  margin: 40px;
  padding: 2em;
  &:hover {
    color: #e65100;
    cursor: pointer;
  }
}
.welcome-page .disabled {
  color: grey;
  &:hover {
    cursor: default;
    color: inherit;
    color: grey;
    pointer-events: none;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 40vh;
}
