.welcome-page {
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
}
.welcome-page div {
  padding: 2em;
  &:hover {
    color: #e65100;
    cursor: pointer;
  }

  p {
    border: 1px solid green !important;
  }
}
.welcome-page .disabled {
  color: grey;
  &:hover {
    cursor: default;
    color: inherit;
    color: grey;
    pointer-events: none;
  }
}
