* {
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #121213;
  overflow-y: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

#global {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  --header-height: 100px;
  --game-max-width: 500px;
  --keyboard-height: 200px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  border-bottom: solid 1px #3a3a3c;
  justify-content: center;
}

.main-header .title {
  font-size: xx-large;
}

.game {
  max-width: var(--game-max-width);
  height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 auto;
}

button {
  /* appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial; */
}

/**************************************************************/
/* Message Container */
/**************************************************************/

.message-container {
  position: fixed;
  width: 100%;
  text-align: center;
}

/**************************************************************/
/* Game Board */
/**************************************************************/

#board-container {
  flex-grow: 1;
  justify-content: center;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#board-container div {
  display: inline-flex;
}

/* Allow tiles to be smaller on small screens */
@media (max-height: 600px) {
  .tile {
    font-size: 1em;
    line-height: 1em;
  }
}

.tile {
  width: 100%;
  display: inline-flex;
  font-weight: bold;

  width: 62px;
  /* width: 100%; */
  max-width: 62px;
  height: 62px;
  border: 2px solid #3a3a3c;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 2px;
  user-select: none;
  box-sizing: border-box;
}

.tile.flip {
  animation: 0.5s linear flipping;
  background-color: green;
}

@keyframes flipping {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

/************************************************************************/
/* Keyboard */
/************************************************************************/

.game-keyboard {
  height: var(--keyboard-height);
  margin: 0 8px;
  user-select: none;

  /* border: 1px solid blue !important; */
  /* height: 200px; */
  /* width: 68vw; */
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.row {
  /* border: 1px solid green !important; */
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.half {
  flex: 0.5;
}

.game-keyboard button {
  font-family: inherit;
  font-weight: bold;
  /* border: 0; */
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: var(--key-bg);
  color: var(--key-text-color);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  /* border: 0; */
  /* paddings: 0; */
  margin: 0 6px 0 0;
  /* height: 58px; */
  /* background-color: #818384; */
}

.user-details-container {
    display: flex;
  position: fixed;
  margin-left: 12px;
  margin-top: 12px;
  min-width: fit-content;
  padding: 2px;
  flex-direction: column;
  /* align-items: center; */
}

/*****************************************************************************/
/* Leaderboard */

.leaderboard {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  max-width: var(--game-max-width);
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100vh;
  background-color: #212121;
  z-index: 100;
}

.leaderboard-header {
  border-bottom: dotted 1px #795548;
  font-size: x-large;
  text-decoration: underline;
}

.leaderboard-headlines {
  /* border-bottom: 1px solid #795548; */
  display: grid;
  font-size: x-large;
  grid-template-columns: 22% 28% 28% 10%;
  text-align: start;
  align-items: center;
}

.leaderboard-user-details {
  border-bottom: 1px dotted #795548;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /* text-align: start; */
  align-items: center;
  /* padding: 6px 0 0 40px; */
  /* margin: 1px; */
}

.leaderboard-current-user {
  background-color: rgb(22, 112, 49);
}

.leaderboard-user-details p {
  /* padding-left: 10%; */
}

.leaderboard-user-details img {
  height: 60%;
}
.leaderboard-user-details .score {
}

.leaderboard-button {
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: white;
  background: #6225e6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.leaderboard-button:focus {
  outline: none;
}

.leaderboard-button:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.leaderboard-button span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.leaderboard-button:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg);
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.leaderboard-button:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.leaderboard-button:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.leaderboard-button:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: white;
  }
}

button {
  background-color: rgb(46, 26, 26);
}

.leaderboard-button {
  font-size: 24px;
  margin-right: 18px;
}

.leaderboard-container {
  position: fixed;
}

.green-overlay {
  background-color: #538d4e !important;
  border: none !important;
}
.yellow-overlay {
  background-color: #b59f3a !important;
  border: none !important;
}
.grey-overlay {
  background-color: #3a3a3c !important;
  border: none !important;
}
.black-overlay {
  background-color: #000000 !important;
  border: none !important;
  border: 1px solid grey !important;
}
